@font-face {
  font-family: Roboto;
  src: url(/font/Roboto-Bold.ttf);
}
body {
  background: url(/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
}
#containerStartGame {
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonStart {
  width: 800px;
  height: 100px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 8px 9px rgba(0, 0, 0, 0.43);
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  margin-top: 15%;
}
.buttonStart label {
  font-family: 'Roboto';
  font-style: normal;
  color: #361157;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  margin-top: 26px;
}
#gameOver {
  background-color: rgba(255, 148, 148, 0.4);
  width: 100vw;
  height: 100vh;
}
h1 {
  font-family: 'Roboto';
  font-style: normal;
  color: #361157;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  color: #C0392B;
  font-size: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding-top: 50px;
}
.containerScore {
  display: flex;
  align-items: center;
  justify-content: center;
}
.containerScore label {
  font-family: 'Roboto';
  font-style: normal;
  color: #361157;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  color: white;
  font-size: 48px;
  text-transform: none;
}
.buttonTry {
  width: 800px;
  height: 100px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 8px 9px rgba(0, 0, 0, 0.43);
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 150px;
}
.buttonTry label {
  font-family: 'Roboto';
  font-style: normal;
  color: #361157;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
}
nav {
  display: flex;
}
.score {
  width: 800px;
  height: 100px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 8px 9px rgba(0, 0, 0, 0.43);
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 0 0 20px 0;
  width: 200px;
  height: 80px;
  display: flex;
  flex-direction: column;
  padding: 10px 18px;
  line-height: 35px;
}
.score label {
  font-family: 'Roboto';
  font-style: normal;
  color: #361157;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  display: inline-block;
  font-size: 22px;
}
.refresh {
  width: 800px;
  height: 100px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 8px 9px rgba(0, 0, 0, 0.43);
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
  border-radius: 0 0 0 20px;
  width: 100px;
  height: 80px;
  display: flex;
  background-image: url(images/restart\ 1.png);
  background-repeat: no-repeat;
  background-position: center;
}
.timer {
  height: 100px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 8px 9px rgba(0, 0, 0, 0.43);
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
  width: 800px;
  height: 20px;
  border-radius: 10px;
  margin: auto;
}
.timer .timerSlider {
  width: 800px;
  height: 100px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 8px 9px rgba(0, 0, 0, 0.43);
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
  width: 1000px;
  height: 20px;
  border-radius: 10px;
  background-color: #8E44AD;
  animation: timerAnimation 5s linear forwards;
}
@keyframes timerAnimation {
  0% {
    width: 100%;
  }
  100% {
    width: 4%;
  }
}
main {
  width: 800px;
  height: 100px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 5px 8px 9px rgba(0, 0, 0, 0.43);
  border-radius: 20px;
  background-color: #ffffff;
  text-align: center;
  width: 1250px;
  height: 800px;
  display: flex;
  margin: auto;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px 50px;
  justify-content: space-around;
  align-items: center;
}
.card {
  position: relative;
}
.card,
.cardInnerEarth {
  height: 194px;
  width: 149px;
}
.cardInnerJupiter {
  height: 194px;
  width: 149px;
}
.cardInnerMars {
  height: 194px;
  width: 149px;
}
.cardInnerMercury {
  height: 194px;
  width: 149px;
}
.cardInnerNeptune {
  height: 194px;
  width: 149px;
}
.cardInnerPluto {
  height: 194px;
  width: 149px;
}
.cardInnerSaturn {
  height: 194px;
  width: 149px;
}
.cardInnerUranus {
  height: 194px;
  width: 149px;
}
.cardInnerVenera {
  height: 194px;
  width: 149px;
}
.cardInnerEarth {
  background-image: url("images/Card_Hover.png");
}
.card:hover .cardInnerEarth {
  transform: rotateY(0);
  animation: rotateCard 1s ease-in-out;
  background-image: url("images/earth.png");
  animation-iteration-count: 1;
}
@keyframes rotateCardEarth {
  0% {
    transform: rotateY(0);
    background-image: url("images/Card_Hover.png");
  }
  50% {
    transform: rotateY(90deg);
    background-image: url("images/Card_Hover.png");
  }
  51% {
    background-image: url("images/earth.png");
  }
  100% {
    transform: rotateY(0);
    background-image: url("images/earth.png");
  }
}
.cardInnerJupiter {
  background-image: url("images/Card_Hover.png");
}
.card:hover .cardInnerJupiter {
  transform: rotateY(0);
  animation: rotateCard 1s ease-in-out;
  background-image: url("images/jupiter.png");
  animation-iteration-count: 1;
}
@keyframes rotateCardJupiter {
  0% {
    transform: rotateY(0);
    background-image: url("images/Card_Hover.png");
  }
  50% {
    transform: rotateY(90deg);
    background-image: url("images/Card_Hover.png");
  }
  51% {
    background-image: url("images/jupiter.png");
  }
  100% {
    transform: rotateY(0);
    background-image: url("images/jupiter.png");
  }
}
.cardInnerMars {
  background-image: url("images/Card_Hover.png");
}
.card:hover .cardInnerMars {
  transform: rotateY(0);
  animation: rotateCard 1s ease-in-out;
  background-image: url("images/mars.png");
  animation-iteration-count: 1;
}
@keyframes rotateCardMars {
  0% {
    transform: rotateY(0);
    background-image: url("images/Card_Hover.png");
  }
  50% {
    transform: rotateY(90deg);
    background-image: url("images/Card_Hover.png");
  }
  51% {
    background-image: url("images/mars.png");
  }
  100% {
    transform: rotateY(0);
    background-image: url("images/mars.png");
  }
}
.cardInnerVenera {
  background-image: url("images/Card_Hover.png");
}
.card:hover .cardInnerVenera {
  transform: rotateY(0);
  animation: rotateCard 1s ease-in-out;
  background-image: url("images/venera.png");
  animation-iteration-count: 1;
}
@keyframes rotateCardVenera {
  0% {
    transform: rotateY(0);
    background-image: url("images/Card_Hover.png");
  }
  50% {
    transform: rotateY(90deg);
    background-image: url("images/Card_Hover.png");
  }
  51% {
    background-image: url("images/venera.png");
  }
  100% {
    transform: rotateY(0);
    background-image: url("images/venera.png");
  }
}
.cardInnerMercury {
  background-image: url("images/Card_Hover.png");
}
.card:hover .cardInnerMercury {
  transform: rotateY(0);
  animation: rotateCard 1s ease-in-out;
  background-image: url("images/mercury.png");
  animation-iteration-count: 1;
}
@keyframes rotateCardMercury {
  0% {
    transform: rotateY(0);
    background-image: url("images/Card_Hover.png");
  }
  50% {
    transform: rotateY(90deg);
    background-image: url("images/Card_Hover.png");
  }
  51% {
    background-image: url("images/mercury.png");
  }
  100% {
    transform: rotateY(0);
    background-image: url("images/mercury.png");
  }
}
.cardInnerNeptune {
  background-image: url("images/Card_Hover.png");
}
.card:hover .cardInnerNeptune {
  transform: rotateY(0);
  animation: rotateCard 1s ease-in-out;
  background-image: url("images/neptune.png");
  animation-iteration-count: 1;
}
@keyframes rotateCardNeptune {
  0% {
    transform: rotateY(0);
    background-image: url("images/Card_Hover.png");
  }
  50% {
    transform: rotateY(90deg);
    background-image: url("images/Card_Hover.png");
  }
  51% {
    background-image: url("images/neptune.png");
  }
  100% {
    transform: rotateY(0);
    background-image: url("images/neptune.png");
  }
}
.cardInnerPluto {
  background-image: url("images/Card_Hover.png");
}
.card:hover .cardInnerPluto {
  transform: rotateY(0);
  animation: rotateCard 1s ease-in-out;
  background-image: url("images/pluto.png");
  animation-iteration-count: 1;
}
@keyframes rotateCardPluto {
  0% {
    transform: rotateY(0);
    background-image: url("images/Card_Hover.png");
  }
  50% {
    transform: rotateY(90deg);
    background-image: url("images/Card_Hover.png");
  }
  51% {
    background-image: url("images/pluto.png");
  }
  100% {
    transform: rotateY(0);
    background-image: url("images/pluto.png");
  }
}
.cardInnerSaturn {
  background-image: url("images/Card_Hover.png");
}
.card:hover .cardInnerSaturn {
  transform: rotateY(0);
  animation: rotateCard 1s ease-in-out;
  background-image: url("images/saturn.png");
  animation-iteration-count: 1;
}
@keyframes rotateCardSaturn {
  0% {
    transform: rotateY(0);
    background-image: url("images/Card_Hover.png");
  }
  50% {
    transform: rotateY(90deg);
    background-image: url("images/Card_Hover.png");
  }
  51% {
    background-image: url("images/saturn.png");
  }
  100% {
    transform: rotateY(0);
    background-image: url("images/saturn.png");
  }
}
.cardInnerUranus {
  background-image: url("images/Card_Hover.png");
}
.card:hover .cardInnerUranus {
  transform: rotateY(0);
  animation: rotateCard 1s ease-in-out;
  background-image: url("images/uranus.png");
  animation-iteration-count: 1;
}
@keyframes rotateCardUranus {
  0% {
    transform: rotateY(0);
    background-image: url("images/Card_Hover.png");
  }
  50% {
    transform: rotateY(90deg);
    background-image: url("images/Card_Hover.png");
  }
  51% {
    background-image: url("images/uranus.png");
  }
  100% {
    transform: rotateY(0);
    background-image: url("images/uranus.png");
  }
}
